app.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="app">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="icon"/>
        <xs:element name="device">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="screen">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:short" name="witdh"/>
                      <xs:attribute type="xs:short" name="height"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="processor">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="countOfProcesors"/>
                      <xs:attribute type="xs:short" name="takt"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="ram">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:short" name="memory"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="graphic">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="hardwareAccelaration"/>
                    <xs:element type="xs:string" name="SoftwareAccelaration"/>
                    <xs:element type="xs:short" name="memory"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="permissions">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="internet"/>
              <xs:element type="xs:string" name="location"/>
              <xs:element type="xs:string" name="writeToStorage"/>
              <xs:element type="xs:string" name="readStorage"/>
              <xs:element type="xs:string" name="camera"/>
              <xs:element type="xs:string" name="messages"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="enviroment">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="screenOrientation"/>
              <xs:element name="theme">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="style"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="compressImage"/>
              <xs:element name="notification">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="newMessage">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="diod"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="newFriend">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="diod"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="other">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="diod"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="show"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="profile">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="profileName"/>
              <xs:element type="xs:string" name="pass"/>
              <xs:element name="lastLogin">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="dateAndTime"/>
                    <xs:element type="xs:string" name="ipAdress"/>
                    <xs:element type="xs:string" name="locationLogin"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="about">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="age"/>
                    <xs:element name="birthday">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:float">
                            <xs:attribute type="xs:string" name="visitible"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="from">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="visitible"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="email">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="visitible"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="actualWorkAt">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="destination"/>
                          <xs:element type="xs:string" name="workAt"/>
                          <xs:element type="xs:short" name="begin"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="beforeWorkAt">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="destination"/>
                          <xs:element type="xs:string" name="workAt"/>
                          <xs:element type="xs:short" name="begin"/>
                          <xs:element type="xs:short" name="end"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="text"/>
                    <xs:element type="xs:string" name="profileImage"/>
                    <xs:element type="xs:string" name="otherPhoto"/>
                    <xs:element name="socialSites">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="twitter"/>
                          <xs:element type="xs:string" name="instagram"/>
                          <xs:element type="xs:string" name="facebook"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="visitible"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="likedPages">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="page">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="pageName"/>
                                <xs:element type="xs:string" name="pageText"/>
                                <xs:element type="xs:byte" name="numberOfPeople"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="visitible"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="save"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
